.Hero {
    height: 88vh;
    background-image: url('../../assets/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .hero-content {
        height: 100%;
        flex-direction: column;
        background-color: rgba($color: #000000, $alpha: 0.7);
        gap: 10px;
        text-align: center;
    }

    .heading {
        color: white;
        font-size: 3rem;
    }

    .heading:hover {
        cursor: pointer;
        transform: scale(1.01);
        color: rgb(183, 247, 247);
    }

    .subheading {
        color: whitesmoke;
        font-size: 1.2 rem;
    }

    .subheading:hover {
        cursor: pointer;
        transform: scale(1.01);
        color: rgb(183, 247, 247);
    }

    .cta {
        margin-top: 16px;
    }

    .btn-primary:hover {
        transform: scale(1.05);
        background-color: rgba(65, 2, 65, 0.911);
        color: whitesmoke;
        transition-delay: 0.2s;

    }

    .btn-primary:active {
        background-color: rgba(75, 8, 242, 0.911);
        color: whitesmoke;
    }
}

@media screen and (max-width: 640px) {
    .Hero {
        height: 60vh;

        .hero-content {



            .heading {
                font-size: 2rem;
            }

            .subheading {
                font-size: 1rem;
            }
            .content{
                margin: 35px;
            }
        
    }
}
}