.Footer {
    background-color: rgba($color: #000000, $alpha: 0.05);
    padding-block: 20px;
    margin-top: 80px;

    .content {
        display: flex;
        justify-content: space-between;

        .title {
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .footer-left {
            .follow {
                list-style: none;
                display: flex;
                gap: 8px;

                li {
                    height: 36px;
                    width: 36px;
                    background-color: rgba($color: #000000, $alpha: 0.2);

                    border-radius: 50%;
    
                &:hover {
                    background-color: white;
                }
             }
            }
        }
            .footer-right{
                .company{ 
                    li{
                        margin-top: 10px;
                        color: var(--secondary-text-color);

                        &:hover{
                            color:rgb(0, 0, 0);
                            background-color: rgba($color: #000000, $alpha: 0.05);
                        }
                    }
                }
            }
        


    }
    .subfooter{
         flex-direction: column;
         .credit-card-img{
         width: 200px;
         text-align: center;
         margin-top: 40px;
         }
         img{
            width: 100%;
         }
         img:hover{
            transform: scale(1.05);
            background-color: rgba($color: #000000, $alpha: 0.06);
         }
    }
}
@media  screen and (max-width: 768px) {
    .Footer{
      .content{
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        
        
      }
    }
 }
 